.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        - if controller.controller_name == "newest"
          %li{role: "presentation"}
            = link_to "Popular PROTO", root_path
          %li.active{role: "presentation"}
            = link_to "Newest PROTO", prototypes_newest_index_path
        - else
          %li.active{role: "presentation"}
            = link_to "Popular PROTO", root_path
          %li{role: "presentation"}
            = link_to "Newest PROTO", prototypes_newest_index_path
      = link_to "View Tags", tags_path, class: "btn btn-default col-lg-1"
